.fp-playlist-info {
    font-weight:bolder;
    color:white;
}

div.flowplayer video,
div.flowplayer canvas,
div.flowplayer audio {
    width:100%;
}

div.flowplayer {
    width:100%;
}

div.mod-mplayer.progressbar{
    height:24px;
    margin-bottom:10px;
}

.dots div.mod-mplayer.progressbar-outer{
    max-width:700px;
}

div.mplayer-completion {
    height:24px;
    border:solid 1px #e0e0e0;
    border-radius:3px;
    display:inline-block;
}

div.mod-mplayer.progressbar-outer{
    height:22px;
    border:2px solid #606060;
    border-radius:4px;
    text-align:left;
}

div.mod-mplayer.progressbar-inner{
    height:20px;
    border:1px solid #606060;
    border-radius:4px;
    background-image:url();
    background-color:#00A000;
    background-position:0% 50%; 
}

div.mod-mplayer.progressbar-inner2{
    height:20px;
    border:1px solid #606060;
    border-radius:4px;
    background-image:url();
    background-color:#00E000;
    background-position:0% 50%;
    position:relative;
    top:-22px;
}

.fp-cue-in-panel,
.fp-cue-resume-panel {
    font-size:2.0em !important;
    text-align:center;
    padding:30px !important;
    background-color:rgba(255,255,255,0.7);
    display:none;
    width:90% !important;
    height:300px !important;
    position:absolute;
    line-height:40px;
    z-index:10000;
    margin: 50px !important;
    -webkit-transition:opacity .5s;
    -moz-transition:opacity .5s;
    transition:opacity .5s;
}

.jwplayer {
    top:20px;
}