


<!-- mod_mplayer/progressbar -->
<div class="mod-mplayer-progressbar">
    <div class="mod-mplayer-progressbar-outer">
        {{#segments}}
        <div class="progressbar-segment progressbar-segment-{{id}} {{class}}" style="width: {{width}}%;left: {{left}}%" title="{{title}}"></div>
        {{/segments}}
        <!-- waiting for student recording segment -->
        <div class="progressbar-segment progressbar-segment-{{id}} newzone is-hidden" style="width: 1%;left: 0%"></div>
        <!-- /waiting for student recording segment -->
    </div>
</div>
<!-- /mod_mplayer/progressbar -->
